{% extends "index.html" %}
{% load static %}
{% block content %}
<main>
  <h1 class="visually-hidden">Peper-Planes</h1>


  <div class="b-example-divider"></div>


  <main class="container mt-4">
      <h1 class="text-center">Image Credits</h1>
      <hr>

      <div class="row">
          <div class="col-md-6">
              Photo by <a href="https://unsplash.com/@santesson89?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Andrea De Santis</a> on <a href="https://unsplash.com/s/photos/AI?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

          </div>
          
          <div class="col-md-6">
              Photo by <a href="https://unsplash.com/@sinaciscox?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Seyed Sina Fazeli</a> on <a href="https://unsplash.com/s/photos/monitor?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

          </div>
          <div class="col-md-6">
              Photo by <a href="https://unsplash.com/@sinaciscox?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Seyed Sina Fazeli</a> on <a href="https://unsplash.com/s/photos/monitor?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

          </div>
          <div class="col-md-6">
            Photo by <a href="https://unsplash.com/@alesnesetril?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ales Nesetril</a> on <a href="https://unsplash.com/s/photos/tech-innovation?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
          </div>

          <div class="col-md-6">
            Photo by <a href="https://unsplash.com/@snowjam?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">John McArthur</a> on <a href="https://unsplash.com/s/photos/plane?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
          </div>
          <div class="col-md-6">
            <a href="https://www.freepik.com/free-vector/airplane-flying-white-background_3577441.htm#query=airplane%20svg&position=38&from_view=keyword&track=ais">Image by brgfx</a> on Freepik

          </div>
         
          <div class="col-md-6">
            <a href="https://www.freepik.com/free-photo/pretty-cloudscape_903481.htm#query=sky&position=5&from_view=keyword&track=sph">Image by onlyyouqj</a> on Freepik
       
          </div>
          <div class="col-md-6">
            <a href="https://www.freepik.com/free-vector/get-touch-concept-illustration_15184423.htm#from_view=detail_alsolike">Image by storyset</a> on Freepik
         
          </div>
          <div class="col-md-6">
            <a href="https://www.freepik.com/free-vector/aircraft-concept-illustration_10118076.htm#query=aircraft%20repair&position=15&from_view=search&track=ais">Image by storyset</a> on Freepik

          </div>
          <div class="col-md-6">
            
            <a href="https://www.freepik.com/free-vector/voice-chat-concept-illustration_19895937.htm#query=audio%20collection&position=0&from_view=search&track=ais">Image by storyset</a> on Freepik

          </div>
          <div class="col-md-6">
            <a href="https://www.freepik.com/free-vector/big-isolated-man-listening-music-headphone-connected-cloud-server-with-coffee-vector-illustration-cartoon-character_13399683.htm#query=audio%20plane&position=27&from_view=search&track=ais">Image by jcomp</a> on Freepik
         
          </div>
          <div class="col-md-6">
            <a href="https://www.freepik.com/free-vector/campfire-camping-story-telling-cheerful-people-sitting-fire-telling-scary-stories-having-fun-summer-outdoor-activities-leisure-time-with-friends-topics_10172460.htm#query=storytelling&position=1&from_view=keyword&track=sph">Image by pch.vector</a> on Freepik
          </div>
          <div class="col-md-6">
            <a href="https://www.freepik.com/free-vector/creative-writing-concept-illustration_21532489.htm#query=write%20stories&position=38&from_view=search&track=ais">Image by storyset</a> on Freepik
          </div>
          <div class="col-md-6">
            <a href="https://www.freepik.com/free-photo/fun-cat-3d-illustration_14197715.htm#query=box%20cat%20white%20bakcground%20svg&position=48&from_view=search&track=ais">Image by julos</a> on Freepik
          </div>
          <div class="col-md-6">
            <a href="https://www.freepik.com/free-vector/simple-character-tourist-woman_26217042.htm#query=flight%20susrprise%20svg&position=14&from_view=search&track=ais">Image by brgfx</a> on Freepik
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
          <!-- Add more image credits as needed -->
      </div>
  </main>

{% endblock content %}
  
  