{% load static %}
<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <!-- <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a> -->

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li> <img src="{% static '/images/PeperPlane_Trans.png' %}"  width="40" height="40" loading="lazy">
          </li>
          <li><a href="{% url 'home' %}" class="nav-link px-2 text-white" id="navhover">Home</a></li>
          <li><a href="{% url 'story' %}" class="nav-link px-2 text-white">Stories</a></li>
          <li><a href="{% url 'videos' %}" class="nav-link px-2 text-white">Videos</a></li>
          <li><a href="{% url 'storyconnect' %}" class="nav-link px-2 text-white">StoryConnect</a></li>
          <li><a href="{% url 'firstyoutube' %}" class="nav-link px-2 text-white">First Youtuber</a></li>
          <li><a href="{% url 'about' %}" class="nav-link px-2 text-white">About</a></li>
          
        </ul>

        

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="/search/" method="post">
          {% csrf_token %}
          <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="search"/>
            <button type="submit" class="btn btn-outline-primary">search</button>
          </div>
        </form>

        
      </div>
    </div>
  </header>